.cards {
  display: grid;
}

@media screen and (min-width: 1350px) {
  .cards {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and ((max-width: 1350px) and (min-width: 1050px)) {
  .cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and ((max-width: 1050px) and (min-width: 730px)) {
  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 730px) {
  .cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
